<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="<%= dom_id tweet %>" class="border border-primary m-3 p-3 bg-light" style="box-shadow: 0 0 10px black;">
	<div>
		<%= form.label :user_name %>
		<%= form.text_field :user_name %>
	</div>
	<hr>
	<div>
		<%= form.label :description %>
		<%= form.text_area :description, size:"50x5", class:'w-100' %>
	</div>
	<hr>
	<div>
		<%= form.label :softdelete %>
		<%= form.check_box :softdelete %>
	</div>
	<hr>
	<div class="d-flex justify-content-center">
		<%= form.submit %>
	</div>
	<% end %>
</div>