<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<!--
Formulario de búsqueda
<h1>Tweets</h1>
<%= form_with url: tweets_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Buscar Tweets" %>
    <%= text_field_tag :query, params[:query], placeholder: "Buscar por descripción o usuario" %>
    <%= submit_tag "Buscar" %>
  </div>
<% end %>
-->

<div id="tweets" class="px-4">
	<% @tweets.each do |tweet| %>
	<div id="<%= dom_id tweet %>" class="bg-light border border-primary my-3 p-3" style="box-shadow: 0 0 10px black;">
			<%= render tweet %>
		<p class="text-end">
			<button class="btn bg-info">
				<%= link_to "Show this tweet", tweet%>
			</button>
		</p>
	</div>
	<% end %>
</div>

<!-- Agregamos el paginador -->
<div class="pagination">
	<%= paginate @tweets %>
</div>
